Django==5.2.5
djangorestframework==3.16.1
django-allauth==65.11.0
dj-rest-auth==7.0.1
social-auth-app-django==5.5.1
python-dotenv==1.1.1
psycopg[binary]==3.2.9
Markdown==3.8.2
bleach==6.2.0
requests==2.32.5
PyGithub==2.7.0
openai==1.100.1